<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4Lbway7tATJy8xOdLJ4ZYp-DtsF-8utQ</string>
	<key>GCM_SENDER_ID</key>
	<string>492280643443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ifcasoftware.ifcaresidence</string>
	<key>PROJECT_ID</key>
	<string>ifca-residence-2-aug-24</string>
	<key>STORAGE_BUCKET</key>
	<string>ifca-residence-2-aug-24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492280643443:ios:888c2ae5cd893b46dacf06</string>
</dict>
</plist>